html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	background-image:url(../img/galaxy.jpg) ;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}

fieldset{
	border: 5px tomato solid;
	border-radius: 5%;
	background-color: tomato;
}
legend{
	font-weight: bold;
	
}
label{
	display: block;
	margin-bottom: 0.7rem;
}

button{
font-size: 2rem;
text-align: center;
background-color: rgb(90, 36, 27);
color: whitesmoke;
padding: 1.5rem 1rem;
border-radius: 10%;
}
button:hover{
	color: rgb(88, 40, 31);
	background-color: thistle;
}

input,textarea,select{
	border-radius: 10px;
}










